.hero {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.card {
  text-align: left;
  padding: 20px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.123);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.185);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-box-shadow: 5px 5px 15px 5px #1f87ff, 2px 5px 16px 0px #0b325e,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 120px 1px #1f87ff, 0px 0px 0px 0px #4c215b,
    5px 5px 15px 5px rgba(101, 34, 130, 0.872);
}

.hero > img {
  margin: 20px;
  border-radius: 40px;
  -webkit-box-shadow: 5px 5px 15px 5px #1f87ff, 2px 5px 16px 0px #0b325e,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 120px 1px #8d0707, 0px 0px 0px 0px #4c215b,
    5px 5px 15px 5px rgba(101, 34, 130, 0.872);
}
.hero p {
  margin: 20px;
}
