nav {
  position: fixed;
  top: 0;
  background-color: rgb(236, 236, 236);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  width: 100%;
  height: auto;
  box-shadow: 0px 2px 32px 0px rgb(0, 39, 101);
}
nav > img {
  width: auto;
  height: 60px;
}
nav > ul {
  text-transform: uppercase;
  display: flex;
  gap: 20px;
}
a:hover {
  color: green;
  cursor: pointer;
}
