:root {
  --primary: rgb(33, 33, 33);
  --secondary: rgb(223, 223, 223);
  --boxes: rgba(255, 255, 255, 0.178);
  font-family: "Inclusive Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--secondary);
}

body {
  color: var(--secondary);
  text-shadow: 0px 4px 13px rgba(0, 0, 0, 0.901);
  background-color: var(--primary);
  background-image: url(ironman.jpeg);
  background-attachment: fixed;
  background-size: cover;
}
