.previo {
  width: 40px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}
.previo:hover {
  background-color: rgba(218, 165, 32, 0.608);
  scale: 105%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 30px;
}
.title > img {
  border-radius: 30px;
  width: 90vw;
  height: 500px;
  object-fit: cover;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.title > h1 {
  font-size: 50px;
}
.descriptions {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
  margin: 30px;
}
p {
  text-align: justify;
}
.photos img {
  width: 40vw;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}
.photos {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
