.home {
  min-height: calc(100vh - 6rem);
}
.home img {
  height: calc(100vh - 6rem);
  width: 100%;
  object-fit: cover;
}
.home h1 {
  font-size: 60px;
}
.texttitle {
  width: 100%;
  min-height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.home button {
  height: 60px;
  width: 180px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--secondary);
  border: 2px solid var(--secondary);
  background-color: transparent;
  border-radius: 10px;
  margin-top: 10px;
}

.home button:hover {
  scale: 110%;
  background-color: goldenrod;
}
